<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="org.example.tests.Listeners"/>
    </listeners>

    <test thread-count="5" name="Error validation Test">
        <classes>
            <class name="org.example.tests.ErrorValidationsTest"/>
        </classes>
    </test>
</suite>